/**
 * 
 * {{ properCase name }} messages
 * 
 * This contains all the text for the {{ properCase name }} domain.
 * 
 */

import { defineMessages } from 'react-intl';

export default defineMessages({
  header: {
    id: 'commoop.{{section}}.{{ pascalCase name }}.domain',
    defaultMessage: '{{ properCase name }}'
  }
});
