/*
 *
 * {{ properCase name }} reducer
 *
 */

import { fromJS } from 'immutable';
import {
  DEFAULT_ACTION,
} from '../constants/{{ camelCase name }}';

const initialState = fromJS({});

function {{ properCase name }}Reducer(state = initialState, action) {
  switch (action.type) {
    case DEFAULT_ACTION:
      return state;
    default:
      return state;
  }
}

export default {{ properCase name }}Reducer;
