import { fromJS } from 'immutable';
import reducer from './{{ camelCase name }}';

import * as constants from '../constants/{{ camelCase name }}';

const mockState = fromJS({})

describe('{{ camelCase name }} reducer', () => {
  it('returns the initial state', () => {
    expect(reducer(undefined, {})).toEqual(fromJS({}));
  });

  it('should handle DEFAULT_ACTION', () => {
    expect(reducer(mockState, {
      type: constants.DEFAULT_ACTION
    })).toEqual(mockState);
  })
});
