import { fromJS } from 'immutable';
import make{{ properCase name }}Selector from './{{ camelCase name }}';

describe('{{ camelCase name }} selectors', () => {

  it('Expect to have unit tests specified', () => {
    const selector = make{{ properCase name}}Selector();
    const state = {
      nothingOfRelevance: [],
      {{ section }}: fromJS({
        {{camelCase name}}: { test: 'hi' }
      })
    }
    expect(selector(state)).toEqual({
      test: 'hi'
    });
  });
});
