import { createSelector } from 'reselect';

/**
 * Direct selector to the {{ properCase name }} state domain
 */
const {{ properCase name }}Selector = state => state.{{ section }}.get('{{ camelCase name }}');

/**
 * Other specific selectors
 */


/**
 * Default selector used by {{ properCase name }}
 */

const make{{ properCase name }}Selector = () => createSelector(
  {{ properCase name }}Selector,
  (substate) => substate.toJS()
);

export default make{{ properCase name }}Selector;
export {
  {{ properCase name }}Selector,
};
