import * as actions from './actions';
import * as constants from './constants';

describe('{{ properCase name }} actions', () => {
  it('should create default action', () => {
    const expected = {
      type: constants.DEFAULT_ACTION
    };
    expect(actions.defaultAction()).toEqual(expected);
  });
});

