import React from 'react';
import { storiesOf } from '@storybook/react';
import { withInfo } from '@storybook/addon-info';
import { action } from '@storybook/addon-actions';

import ItemPreview from '../../admin/components/ItemPreview';
import { {{ properCase name }} } from './{{ properCase name }}';

const content = {};

storiesOf('formats/{{ properCase name }}/Component', module)
  .addDecorator((story, context) => 
    withInfo({
        source: false,
        propTables: [{{ properCase name}}],
        propTablesExclude: [ItemPreview]
    })(story)(context)
  )
  .add('default', () => (
    <ItemPreview
      format="{{ dashCase name }}"
      content={content}
      showLog
      onStateSubmit={action('onStateSubmit')}
    />
  ));
