import React from 'react';
import PropTypes from 'prop-types';
import { FormattedMessage } from 'react-intl';
import _isEqual from 'lodash/isEqual';

import messages from './messages';

export class {{ properCase name }} extends React.Component {
  static propTypes = {}

  static defaultProps = {}

  shouldComponentUpdate(nextProps) {
    return !_isEqual(nextProps, this.props);
  }

  render() {
    return (
      <div>
        <FormattedMessage {...messages.formatName} />
      </div>
    );
  }
}

export default {{ properCase name }};
