import React from 'react';
import { fromJS } from 'immutable';
import { storiesOf } from '@storybook/react';
import { withInfo } from '@storybook/addon-info';
import { withKnobs } from '@storybook/addon-knobs/react';
import { action } from '@storybook/addon-actions';

import Form, { Form as PropTypes } from './Form';

const data = fromJS({
  textField: 'Hallo',
  markdown: '# This is a markdown editor!'
})

storiesOf('formats/{{ properCase name }}/Form', module)
  .addDecorator((story, context) => 
    withInfo({
      source: false,
      propTables: [PropTypes],
      propTablesExclude: [Form]
    })(story)(context)
  )
  .addDecorator(withKnobs)
  .add('default', () => (
    <Form onChange={action('onChange')} data={data} />
  ));
