/**
 * Nothing to do here!
 */
import messages from './messages';
import reducer from './reducer';
import selectors from './selectors';
import Form from './Form';
import {{ properCase name }} from './{{ properCase name }}';

export default {{ properCase name }};

export { {{ properCase name }} as Component, Form, messages, reducer, selectors };
