import { fromJS } from 'immutable';

import pureSolutionSelector from './selectors';

const state = fromJS({})

describe('{{ properCase name }} selectors', () => {
  it('should return pure solution', () => {
      expect(pureSolutionSelector(state)).toEqual(fromJS({}));
  });
});
