/**
*
* {{ properCase name }}
*
*/

import React from 'react';
import PropTypes from 'prop-types';
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';

import {{ camelCase domain }}Messages from '../messages/{{ camelCase domain }}';
{{/if}}

class {{ properCase name }} extends React.PureComponent {
  static propTypes = {

  };

  render() {
    const {...props} = this.props;
    return (
      <div>
        {{#if wantMessages}}
        <FormattedMessage {...{{ camelCase domain}}Messages.domain} />
        {{/if}}
      </div>
    );
  }
}

export default {{ properCase name }};
