/**
*
* {{ properCase name }}
*
*/

import React from 'react';
import PropTypes from 'prop-types';
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';

import {{ camelCase domain }}Messages from '../messages/{{ camelCase domain }}';
{{/if}}

const {{ properCase name }} = ({...props}) => {
  return (
    <div>
      {{#if wantMessages}}
      <FormattedMessage {...{{ camelCase domain}}Messages.domain} />
      {{/if}}
    </div>
  );
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
