
/*
 *
 * {{properCase name }}
 *
 */

import React from 'react';
import PropTypes from 'prop-types';
import { connect } from 'react-redux';
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
{{/if}}
import { withStyles } from '@material-ui/core/styles';
import { createStructuredSelector } from 'reselect';

{{#if wantMessages}}
import {{ camelCase domain }} from '../messages/{{ camelCase domain }}';
{{/if}}

import make{{properCase domain}}Selector from '../selectors/{{ camelCase domain }}';

{{#if wantAppBar}}
import AppBarLayout from '../../common/components/AppBarLayout';
import AppBar from '../../common/containers/AppBar';
{{/if}}

const styles = theme => ({
  grid: {
    '@supports (display: grid)': {
      display: 'grid',
      gridTemplateColumns: '2fr 1fr',
      gridTemplateRows: 'auto',
      gridGap: `${theme.spacing.unit * 2}px`,
      gridTemplateAreas: `"main aside"`,

      [theme.breakpoints.down('lg')]: {
        display: 'block'
      }
    }
  },
  main: {
    '@supports (display: grid)': {
      gridArea: 'main'
    }
  },
  aside: {
    '@supports (display: grid)': {
      gridArea: 'aside'
    }
  }
});

export class {{ properCase name }} extends React.{{{ component }}} {
  static propTypes = {
    dispatch: PropTypes.func.isRequired,
    classes: PropTypes.object.isRequired
  };

  render() {
    const { classes } = this.props;
    return (
      {{#if wantAppBar}}
      <AppBarLayout appBar={<AppBar title={`Insert Title here`} />}>
      {{/if}}
          <div className={classes.grid}>
            <main className={classes.main}>
              {{#if wantMessages}}
              <FormattedMessage {...{{ camelCase domain }}.domain}/>;
              {{/if}}
            </main>
            <aside className={classes.aside}>
            </aside>
          </div>
      {{#if wantAppBar}}
      </AppBarLayout>
      {{/if}}
    );
  }
}

const mapStateToProps = createStructuredSelector({
  {{lowerCase domain}}: make{{properCase domain}}Selector(),
});

function mapDispatchToProps(dispatch) {
  return {
    dispatch,
  };
}

export const Styled{{ properCase name }} = withStyles(styles)({{ properCase name }});

export default connect(mapStateToProps, mapDispatchToProps)(
  Styled{{ properCase name }}
);
